@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<hr />

<p>@ViewBag.Message</p>

<h3>Bálint Soós</h3>
<h4>HDX9MU</h4>

<address>
    <strong>Email:</strong>   <a href="mailto:soba95@inf.elte.hu">soba95@inf.elte.hu</a><br />
    <strong>Website:</strong> <a href="http://www.balintsoos.com/">balintsoos.com</a>
</address>